
EffectiveArea_2MeV.inc1.id1.sim

EffectiveArea_2MeV.inc2.id1.sim

EffectiveArea_2MeV.inc3.id1.sim

RunTestHeaven.inc2.id1.sim

EffectiveArea_2MeV.inc4.id1.sim

EffectiveArea_2MeV.inc5.id1.sim

EnergySpectrum.png

EffectiveArea_2MeV.inc6.id1.sim

MyComPair_Tower.inc1.id1.sim

RunTestHeaven.inc1.id1.sim

RunTestSky.inc1.id1.sim

TowerModel_EffectiveArea.source

TowerModel_Kocevski.source

RunTestSky.inc2.id1.sim

MyComPair_Tower.inc1.id1.tra

SolarFlare.inc3.id1.tra

Cosima.log

*.log

*.png

*.sim

*.stderr.gz

*.stdout.gz

AMEGOPerformancePlotSourceFiles/TriggerEfficiency.txt
